In [1]:
# Setup
import numpy as np
import pandas as pd
import pyarrow as pa

import pykx as kx
kx.q.system.console_size = [15, 100]

import datetime

# Section 3: Working with PyKX Tables
See [documentation](https://code.kx.com/pykx/2.5/user-guide/advanced/Pandas_API.html) for full Pandas-like API

## Table Construction, Exploration, & Interrogation

#### Table Construction:

A table can be contructed in several ways including directly from a csv file, or generated using PyKX

In [2]:
# Generate Table: 'x' column contains random floats between 0 and 100, 'y' column contains random choice of 'a', 'b', or 'c'
PyKX_Table = kx.Table(data={'x':kx.random.random(5,100.0), 'y':kx.random.random(5,['a','b','c'])})
PyKX_Table

# OR

tab_BTC = kx.q.read.csv('data/BTCUSDT.csv')
tab_ETH = kx.q.read.csv('data/ETHUSDT.csv')

#### Exploration & Preprocessing

Shape, ndims, size, dtypes, drop duplicates, rename columns

In [3]:
# shape: how many rows and columns are within the table
tab_BTC.shape

(pykx.LongAtom(pykx.q('3565390')), pykx.LongAtom(pykx.q('12')))

In [4]:
# head(): Print the first 5 rows of the table
tab_BTC.head()

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
'))

##### Exercise 8
+ Print the first 10 rows of `tab_BTC`

In [5]:
tab_BTC.head(10)

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:05:59.999000..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:06:59.999000..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:07:59.999000..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:08:59.999000..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:09:59.999000..
'))

In [6]:
# columns: show what columns are in the table
print(tab_BTC.columns)

`timestamp`open`high`low`close`volume`close_time`quote_asset_volume`number_of_trades`taker_buy_ba..

In [7]:
# PyKX function to see the columns in a table
kx.q.cols(tab_BTC)

pykx.SymbolVector(pykx.q('`timestamp`open`high`low`close`volume`close_time`quote_asset_volume`number_of_trades`taker_buy_ba..'))

In [8]:
# dtypes: print the data types of each column in a table
tab_BTC.dtypes

pykx.Table(pykx.q('
columns                     datatypes          type
-----------------------------------------------------------------
timestamp                   "kx.TimestampAtom" "kx.TimestampAtom"
open                        "kx.RealAtom"      "kx.RealAtom"
high                        "kx.RealAtom"      "kx.RealAtom"
low                         "kx.RealAtom"      "kx.RealAtom"
close                       "kx.RealAtom"      "kx.RealAtom"
volume                      "kx.FloatAtom"     "kx.FloatAtom"
close_time                  "kx.TimestampAtom" "kx.TimestampAtom"
quote_asset_volume          "kx.FloatAtom"     "kx.FloatAtom"
number_of_trades            "kx.ShortAtom"     "kx.ShortAtom"
taker_buy_base_asset_volume "kx.FloatAtom"     "kx.FloatAtom"
..
'))

In [9]:
# Create a new column in both BTC and ETH listing the date for each row
tab_BTC['date'] = tab_BTC['timestamp'].date
tab_ETH['date'] = tab_ETH['timestamp'].date

In [10]:
# Drop any duplicate rows
tab_BTC = tab_BTC.drop_duplicates()
tab_ETH = tab_ETH.drop_duplicates()
print(tab_BTC.shape)
print(tab_ETH.shape)

(pykx.LongAtom(pykx.q('3565389')), pykx.LongAtom(pykx.q('13')))
(pykx.LongAtom(pykx.q('3565389')), pykx.LongAtom(pykx.q('13')))

In [11]:
tab_BTC.head()

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
'))

In [12]:
# Rename a column in the PyKX_Table
tab_BTC.rename(
    columns={
        "number_of_trades": "num_trades",
    }
)

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:05:59.999000..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:06:59.999000..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:07:59.999000..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:08:59.999000..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:09:59.999000..
..
'))

In [13]:
# Use at[] to find a value in a specific row/column
tab_BTC.at[0,'close']

pykx.RealAtom(pykx.q('4261.48e'))

##### Exercise 9
+ Return the `open` price of the 50th row

In [14]:
tab_BTC.at[49,'open']

pykx.RealAtom(pykx.q('4310.07e'))

#### Table Interrogation

In [15]:
# Use at[] to find a value in a specific row/column
tab_BTC.at[0,'close']

pykx.RealAtom(pykx.q('4261.48e'))

In [16]:
# Use all() to find whether or not all values across the given axis have a truthy value
tab_BTC.all()

pykx.Dictionary(pykx.q('
timestamp                   | 1
open                        | 1
high                        | 1
low                         | 1
close                       | 1
volume                      | 0
close_time                  | 1
quote_asset_volume          | 0
number_of_trades            | 0
taker_buy_base_asset_volume | 0
taker_buy_quote_asset_volume| 0
ignore                      | 0
date                        | 1
'))

In [17]:
# Use any() to find whether or not any values across the gien axis have a truthy value
tab_BTC.any()

pykx.Dictionary(pykx.q('
timestamp                   | 1
open                        | 1
high                        | 1
low                         | 1
close                       | 1
volume                      | 1
close_time                  | 1
quote_asset_volume          | 1
number_of_trades            | 1
taker_buy_base_asset_volume | 1
taker_buy_quote_asset_volume| 1
ignore                      | 0
date                        | 1
'))

In [18]:
# Use .get() to get a column or columns from a table by key
tab_BTC.get(['timestamp', 'close'])

pykx.Table(pykx.q('
timestamp                     close
-------------------------------------
2017.08.17D04:00:00.000000000 4261.48
2017.08.17D04:01:00.000000000 4261.48
2017.08.17D04:02:00.000000000 4280.56
2017.08.17D04:03:00.000000000 4261.48
2017.08.17D04:04:00.000000000 4261.48
2017.08.17D04:05:00.000000000 4261.48
2017.08.17D04:06:00.000000000 4261.48
2017.08.17D04:07:00.000000000 4261.48
2017.08.17D04:08:00.000000000 4261.48
2017.08.17D04:09:00.000000000 4261.48
..
'))

## Indexing, Filtering

### Query API

In [19]:
#Get the close 'column' only
tab_BTC.select(columns=kx.Column('close'))

pykx.Table(pykx.q('
close
-------
4261.48
4261.48
4280.56
4261.48
4261.48
4261.48
4261.48
4261.48
4261.48
4261.48
..
'))

In [20]:
# Get all rows where the value of the 'volume' column is greater than 100.0
tab_BTC.select(where=kx.Column('volume')>100.0)

pykx.Table(pykx.q('
timestamp                     open     high     low      close    volume   close_time            ..
-------------------------------------------------------------------------------------------------..
2017.12.22D03:19:00.000000000 13251.02 13253    13080    13080    101.9413 2017.12.22D03:19:59.99..
2017.12.22D03:20:00.000000000 13078.43 13105.02 13000    13105.02 146.8175 2017.12.22D03:20:59.99..
2017.12.22D03:21:00.000000000 13105.02 13446.74 13059.05 13252.33 126.5825 2017.12.22D03:21:59.99..
2017.12.22D03:22:00.000000000 13252.33 13446.75 13135.1  13358.65 109.3239 2017.12.22D03:22:59.99..
2017.12.22D07:11:00.000000000 13000    13050    12799    12800    100.5672 2017.12.22D07:11:59.99..
2017.12.22D07:24:00.000000000 12400.03 12915    12400    12600    101.5402 2017.12.22D07:24:59.99..
2017.12.22D14:04:00.000000000 12099.96 12099.96 11888    11900    108.4717 2017.12.22D14:04:59.99..
2017.12.22D14:08:00.000000000 11781.02 12000    11708    11900    122.8719 2017.12.22D14:08:59.99..
2017.12.22D14:17:00.000000000 11300    11450    11246.9  11399.97 122.8937 2017.12.22D14:17:59.99..
2017.12.22D14:23:00.000000000 11001.01 11400    10961    11246.97 159.9215 2017.12.22D14:23:59.99..
..
'))

In [21]:
# Return all rows with the date '2017.08.17'
tab_BTC.select(where=kx.Column('date') == datetime.date(2017,8,17))

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:05:59.999000..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:06:59.999000..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:07:59.999000..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:08:59.999000..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:09:59.999000..
..
'))

In [22]:
# Filter to see if there are any rows we need to ignore
tab_BTC.select(where=kx.Column('ignore') == True)

pykx.Table(pykx.q('
timestamp open high low close volume close_time quote_asset_volume number_of_trades taker_buy_bas..
-------------------------------------------------------------------------------------------------..
'))

In [23]:
# Return all close prices and volume from tab_BTC for the last date
tab_BTC.select(columns=kx.Column('volume') & kx.Column('close'), where=kx.Column('date') == kx.Column('date').max())

pykx.Table(pykx.q('
volume   close
-----------------
8.27795  67763.86
17.47026 67768.95
6.16213  67751.26
5.8966   67744.02
34.2999  67715
5.19186  67720.1
5.93663  67739.99
7.66731  67777.4
13.74856 67790.95
9.63396  67787.48
..
'))

In [24]:
 # Find the final closing price for each date
tab_BTC.select(columns=kx.Column('close').last(), by=kx.Column('date'))

pykx.KeyedTable(pykx.q('
date      | close
----------| -------
2017.08.17| 4285.08
2017.08.18| 4108.37
2017.08.19| 4139.98
2017.08.20| 4086.29
2017.08.21| 4016
2017.08.22| 4040
2017.08.23| 4114.01
2017.08.24| 4316.01
2017.08.25| 4280.68
2017.08.26| 4337.44
..
'))

In [25]:
 # Find the total volume for each day
tab_BTC.select(columns=kx.Column('volume').sum(), by=kx.Column('date'))

pykx.KeyedTable(pykx.q('
date      | volume
----------| --------
2017.08.17| 795.1504
2017.08.18| 1199.888
2017.08.19| 381.3098
2017.08.20| 467.083
2017.08.21| 691.7431
2017.08.22| 966.6849
2017.08.23| 1001.137
2017.08.24| 787.4188
2017.08.25| 573.6127
2017.08.26| 228.1081
..
'))

### .loc: Label based indexing
Note that contrary to usual python slices, both the start and stop are included

In [26]:
# Get every row in the 'close' column
tab_BTC.loc[:,'close']

pykx.Table(pykx.q('
close
-------
4261.48
4261.48
4280.56
4261.48
4261.48
4261.48
4261.48
4261.48
4261.48
4261.48
..
'))

In [27]:
# Non .loc example
tab_BTC[['close']]

pykx.Table(pykx.q('
close
-------
4261.48
4261.48
4280.56
4261.48
4261.48
4261.48
4261.48
4261.48
4261.48
4261.48
..
'))

#### Filtering with .loc

In [28]:
# Get all rows where the value of the 'volume' column is greater than 100.0
tab_BTC.loc[tab_BTC['volume']>100.0]

pykx.Table(pykx.q('
timestamp                     open     high     low      close    volume   close_time            ..
-------------------------------------------------------------------------------------------------..
2017.12.22D03:19:00.000000000 13251.02 13253    13080    13080    101.9413 2017.12.22D03:19:59.99..
2017.12.22D03:20:00.000000000 13078.43 13105.02 13000    13105.02 146.8175 2017.12.22D03:20:59.99..
2017.12.22D03:21:00.000000000 13105.02 13446.74 13059.05 13252.33 126.5825 2017.12.22D03:21:59.99..
2017.12.22D03:22:00.000000000 13252.33 13446.75 13135.1  13358.65 109.3239 2017.12.22D03:22:59.99..
2017.12.22D07:11:00.000000000 13000    13050    12799    12800    100.5672 2017.12.22D07:11:59.99..
2017.12.22D07:24:00.000000000 12400.03 12915    12400    12600    101.5402 2017.12.22D07:24:59.99..
2017.12.22D14:04:00.000000000 12099.96 12099.96 11888    11900    108.4717 2017.12.22D14:04:59.99..
2017.12.22D14:08:00.000000000 11781.02 12000    11708    11900    122.8719 2017.12.22D14:08:59.99..
2017.12.22D14:17:00.000000000 11300    11450    11246.9  11399.97 122.8937 2017.12.22D14:17:59.99..
2017.12.22D14:23:00.000000000 11001.01 11400    10961    11246.97 159.9215 2017.12.22D14:23:59.99..
..
'))

In [29]:
# Return all rows with the date '2017.08.17'
tab_BTC.loc[tab_BTC['date'] == datetime.date(2017,8,17)]

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:05:59.999000..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:06:59.999000..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:07:59.999000..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:08:59.999000..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:09:59.999000..
..
'))

In [30]:
# Another way to do it
tab_BTC[tab_BTC['date'] == datetime.date(2017,8,17)]

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:05:59.999000..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:06:59.999000..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:07:59.999000..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:08:59.999000..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:09:59.999000..
..
'))

In [31]:
# Filter to see if there are any rows we need to ignore
tab_BTC[tab_BTC['ignore'] == True]

pykx.Table(pykx.q('
timestamp open high low close volume close_time quote_asset_volume number_of_trades taker_buy_bas..
-------------------------------------------------------------------------------------------------..
'))

##### Exercise 10
- Return all `close` prices and `volume` from `tab_BTC` for the last date

In [32]:
tab_BTC[tab_BTC['date'] == kx.q.max(tab_BTC['date']), ['volume', 'close', 'date']]

pykx.Table(pykx.q('
volume   close
----------------
1.775183 4261.48
0        4261.48
0.261074 4280.56
0.012008 4261.48
0.140796 4261.48
0        4261.48
0        4261.48
0        4261.48
0        4261.48
0        4261.48
..
'))

### .iloc: Integer position based indexing

In [33]:
# Return a row in the table
tab_BTC.iloc[1]

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume close_time                  ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0      2017.08.17D04:01:59.99900000..
'))

In [34]:
# Return the first 5 rows from the table
tab_BTC.iloc[:5]

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
'))

#### Filtering with iloc

In [35]:
# return only rows where the volume is over 1500, and only return volume and date columns
tab_BTC.iloc[tab_BTC['volume'] > kx.q('1500.0f'),['volume','date']]

pykx.Table(pykx.q('
volume   date
-------------------
1511.592 2019.01.22
1827.534 2019.06.26
1596.958 2019.07.09
2507.982 2019.09.05
1647.668 2019.09.06
1520.975 2019.10.23
2003.985 2020.01.19
2362.347 2020.01.19
1760.365 2020.02.02
2473.318 2020.02.10
..
'))

##### Exercise 11
- Return rows 15-20 from the table

In [36]:
tab_BTC.iloc[14:19]

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:14:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:14:59.999000..
2017.08.17D04:15:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:15:59.999000..
2017.08.17D04:16:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:16:59.999000..
2017.08.17D04:17:00.000000000 4261.48 4264.88 4261.48 4264.88 0.075455 2017.08.17D04:17:59.999000..
2017.08.17D04:18:00.000000000 4264.88 4264.88 4264.88 4264.88 0        2017.08.17D04:18:59.999000..
'))

## Sorting Tables

In [37]:
#sort_values(): Sort table objects based on the value of a selected column
tab_BTC.sort_values(by='close', ascending=False)

pykx.Table(pykx.q('
timestamp                     open     high     low      close    volume   close_time            ..
-------------------------------------------------------------------------------------------------..
2024.03.14D07:05:00.000000000 73628.43 73777    73628.42 73775.54 157.056  2024.03.14D07:05:59.99..
2024.03.14D07:07:00.000000000 73542.45 73752.25 73542.45 73752.25 98.4149  2024.03.14D07:07:59.99..
2024.03.14D07:08:00.000000000 73752.24 73752.25 73682.61 73701.11 66.81604 2024.03.14D07:08:59.99..
2024.03.14D07:03:00.000000000 73630.82 73658    73630.81 73658    22.65726 2024.03.14D07:03:59.99..
2024.03.14D07:01:00.000000000 73656.52 73658    73601.1  73657.99 46.98762 2024.03.14D07:01:59.99..
2024.03.14D07:00:00.000000000 73577.35 73658    73575.34 73656.52 53.57515 2024.03.14D07:00:59.99..
2024.03.14D07:02:00.000000000 73657.99 73657.99 73621.16 73630.82 34.22607 2024.03.14D07:02:59.99..
2024.03.14D07:04:00.000000000 73657.99 73658    73628.42 73628.42 18.34133 2024.03.14D07:04:59.99..
2024.03.14D04:13:00.000000000 73592    73658    73572    73624    134.0877 2024.03.14D04:13:59.99..
2024.03.14D07:09:00.000000000 73701.11 73701.11 73613.26 73622.71 65.48993 2024.03.14D07:09:59.99..
..
'))

In [38]:
kx.q.xasc('close', tab_BTC)

pykx.Table(pykx.q('
timestamp                     open high low     close   volume   close_time                    qu..
-------------------------------------------------------------------------------------------------..
2017.09.15D11:30:00.000000000 2830 2835 2817    2817    7.846836 2017.09.15D11:30:59.999000000 22..
2017.09.15D11:28:00.000000000 2888 2888 2818.74 2818.75 7.801522 2017.09.15D11:28:59.999000000 22..
2017.09.15D11:29:00.000000000 2880 2880 2820    2820    1.076028 2017.09.15D11:29:59.999000000 30..
2017.09.15D11:33:00.000000000 2830 2830 2830    2830    0.2      2017.09.15D11:33:59.999000000 56..
2017.09.15D11:31:00.000000000 2830 2880 2830    2849    3.515769 2017.09.15D11:31:59.999000000 10..
2017.09.15D11:39:00.000000000 2879 2879 2833    2850    6.017168 2017.09.15D11:39:59.999000000 17..
2017.09.15D11:41:00.000000000 2877 2878 2837.01 2851    7.345301 2017.09.15D11:41:59.999000000 21..
2017.09.15D11:43:00.000000000 2870 2870 2870    2870    0.113443 2017.09.15D11:43:59.999000000 32..
2017.09.15D11:44:00.000000000 2870 2870 2870    2870    0        2017.09.15D11:44:59.999000000 0 ..
2017.09.15D11:45:00.000000000 2869 2870 2869    2870    1.702286 2017.09.15D11:45:59.999000000 48..
..
'))

## Group By
Group data based on like values within columns to easily apply operations on groups.

In [39]:
tab_BTC.set_index('date')

pykx.KeyedTable(pykx.q('
date      | timestamp                     open    high    low     close   volume   close_time    ..
----------| -------------------------------------------------------------------------------------..
2017.08.17| 2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:..
2017.08.17| 2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:..
2017.08.17| 2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:..
2017.08.17| 2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:..
2017.08.17| 2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:..
2017.08.17| 2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:..
2017.08.17| 2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:..
2017.08.17| 2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:..
2017.08.17| 2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:..
2017.08.17| 2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:..
..
'))

In [40]:
# Use groupby to find the final closing price for each date
tab_BTC.groupby('date').tail(1)['close']

pykx.RealVector(pykx.q('4285.08 4108.37 4139.98 4086.29 4016 4040 4114.01 4316.01 4280.68 4337.44 4310.01 4386.69 4587.48..'))

In [41]:
# Use groupby to find the total volume for each day
tab_BTC.groupby('date').sum()['volume']

pykx.KeyedTable(pykx.q('
date      | volume
----------| --------
2017.08.17| 795.1504
2017.08.18| 1199.888
2017.08.19| 381.3098
2017.08.20| 467.083
2017.08.21| 691.7431
2017.08.22| 966.6849
2017.08.23| 1001.137
2017.08.24| 787.4188
2017.08.25| 573.6127
2017.08.26| 228.1081
..
'))

In [42]:
# Reset the index
tab_BTC = tab_BTC.reset_index()

## Table Analytics

In [43]:
# Find the mean of all the numeric columns
print(tab_BTC.mean(numeric_only=True))

open                        | 23242.16
high                        | 23255.18
low                         | 23229.01
close                       | 23242.16
volume                      | 49.65388
quote_asset_volume          | 1168005
number_of_trades            | 1011.778
taker_buy_base_asset_volume | 24.69711
taker_buy_quote_asset_volume| 578992

In [44]:
# Find the median of all the numeric columns
print(tab_BTC.median(numeric_only=True))

open                        | 17242.56
high                        | 17250
low                         | 17234.63
close                       | 17242.8
volume                      | 22.45534
quote_asset_volume          | 415574.3
number_of_trades            | 454
taker_buy_base_asset_volume | 10.8038
taker_buy_quote_asset_volume| 192914

In [45]:
#what is the maximum volume in any given minute
print(tab_BTC.max()['volume'])

5877.775

In [46]:
# When did this happen?
tab_BTC[tab_BTC['volume'] > kx.q('5877.775e'),['timestamp']]

pykx.Table(pykx.q('
timestamp
-----------------------------
2023.03.14D12:30:00.000000000
'))

In [47]:
# Moving average, calculate a series of average values across a list using a rolling window
kx.q.mavg(10, tab_BTC['close'])

pykx.FloatVector(pykx.q('4261.48 4261.48 4267.84 4266.25 4265.296 4264.66 4264.206 4263.865 4263.6 4263.388 4263.388 4263...'))

In [48]:
# Aggregate multiple functions on a table
tab_BTC.agg(['min','max'])

pykx.KeyedTable(pykx.q('
function| timestamp                     open     high  low      close    volume   close_time     ..
--------| ---------------------------------------------------------------------------------------..
min     | 2017.08.17D04:00:00.000000000 2830     2830  2817     2817     0        2017.08.17D04:0..
max     | 2024.06.03D03:00:00.000000000 73775.55 73777 73682.61 73775.54 5877.775 2024.06.03D03:0..
'))

## Joins & Merges

In [49]:
# Let's add a column to the BTC and ETH tables to identify their symbol
tab_BTC['symbol'] = 'BTC'
tab_ETH['symbol'] = 'ETH'

In [50]:
tab_BTC.merge_asof(tab_ETH, on='timestamp', suffixes=('_BTC','_ETH'))

pykx.Table(pykx.q('
timestamp                     open_BTC high_BTC low_BTC close_BTC volume_BTC close_time_BTC      ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48  4261.48  4261.48 4261.48   1.775183   2017.08.17D04:00:59...
2017.08.17D04:01:00.000000000 4261.48  4261.48  4261.48 4261.48   0          2017.08.17D04:01:59...
2017.08.17D04:02:00.000000000 4280.56  4280.56  4280.56 4280.56   0.261074   2017.08.17D04:02:59...
2017.08.17D04:03:00.000000000 4261.48  4261.48  4261.48 4261.48   0.012008   2017.08.17D04:03:59...
2017.08.17D04:04:00.000000000 4261.48  4261.48  4261.48 4261.48   0.140796   2017.08.17D04:04:59...
2017.08.17D04:05:00.000000000 4261.48  4261.48  4261.48 4261.48   0          2017.08.17D04:05:59...
2017.08.17D04:06:00.000000000 4261.48  4261.48  4261.48 4261.48   0          2017.08.17D04:06:59...
2017.08.17D04:07:00.000000000 4261.48  4261.48  4261.48 4261.48   0          2017.08.17D04:07:59...
2017.08.17D04:08:00.000000000 4261.48  4261.48  4261.48 4261.48   0          2017.08.17D04:08:59...
2017.08.17D04:09:00.000000000 4261.48  4261.48  4261.48 4261.48   0          2017.08.17D04:09:59...
..
'))